_*
*/**/_*
*/**/bin/
*/**/obj/
.git/
.vs/
.idea/

*.dproj.local
*.identcache
*.skincfg
*.res
*.tvsconfig

*/**/*.dproj.local
*/**/*.identcache
*/**/*.skincfg
*/**/*.res
*/**/*.tvsconfig

*/**/.DS_Store
Win*
Linux*
